@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;

}

/************************* header section */

.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #161616;
    color: white;
    border-radius: 30px;
    padding: 60px;
    margin: 40px 80px 80px 80px;
}

h1 {
    font-size: 2em;
}

.banner-title {

    margin-top: 5px;
}

.banner-right {
    margin-top: 80px;
    height: 340px;
}

.banner-left button {
    text-decoration: none;
    background-color: #DD0000;
    padding: 16px 25px;
    color: white;
    border-radius: 10px;
    transition: 2s;
}

.banner-left button:hover {

    background-color: white;
    color: #161616;
    border: 1px solid rgb(2, 18, 255);
}

/************************** main section  */

.main-section {
    display: flex;
    margin: 80px;
}

.aside-buttons {
    width: 312px;
    height: 200px;
    background-color: #161616;
    border-radius: 10px;
    padding-top: 40px;
    text-align: center;
}

.buttons a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    color: #000;
    font-size: 13px;
    padding: 10px 5px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;

}



#blog-button {
    color: #ffffff;
    background-color: #DD0000;

}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 10px;
}

.match {
    width: 224px;
    height: 160px;
    border: 1px solid rgb(209, 202, 202);
    border-radius: 10px;
    margin-left: 10px;
}

.match-flag {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.match-flag img {
    width: 70px;
}

.match-details {
    text-align: center;
}

.view-all {
    visibility: hidden;
}


/************************ footer section  */




.footer-section {

    color: white;
    background-color: #161616;
    height: 300px;
    text-align: center;
    padding-top: 30px;
}

.footer-section h1 {
    font-weight: 400;
    font-size: 35px;
}

hr {
    border: .1px solid grey;
    margin: 30px 80px;
}

.footer-section a {
    display: inline;
    text-decoration: none;
    color: grey;
    text-align: center;
    margin: 10px;

}

.social-media a {
    display: inline-block;
}

/*************
media queries 
************/
@media screen and (max-width: 688px) {
    main {
        width: 100%;
    }

    .banner-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 100%;
        background-color: #161616;
        color: white;
        margin: 60px auto;
        border-radius: 30px;
        padding: 60px;
        text-align: center;
    }

    .banner-right img {
        width: 100%;
        height: 300px;
        width: 300px;
        padding-top: 20px;
    }

    .banner-left button {
        text-decoration: none;
        background-color: #DD0000;
        padding: 10px 15px;
        color: white;
        font-size: 12px;
        font-weight: 300;
        border-radius: 5px;
    }

    /*************
main section
************/
    .main-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 100px auto;
    }

    .aside-buttons {
        width: 100%;
        background-color: white;


    }

    .matches {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        column-gap: 10px;
    }

    .match {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;

    }


    .match img {
        width: 30%;

    }

    /*************
footer section
************/
    .footer-section {
        width: 100%;
        height: 100%;
        padding-top: 30px;

    }

    .footer-section a {
        font-family: none;
        display: block;
        margin: 20px 0;
    }

    .social-media a {
        display: inline-block;
    }
}



/*************
tablet version 
************/


@media only screen and (min-width: 689px) and (max-width: 991px) {
    main {
        width: 100%;
    }

    .banner-section {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 100%;
        background-color: #161616;
        color: white;
        margin: 60px auto;
        border-radius: 30px;
        text-align: center;
    }

    .banner-left {
        width: 100%;
    }

    .banner-right img {
        width: 100%;


    }

    .main-section {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 100px auto;
    }

    .aside-buttons {
        width: 100%;
        height: 100%;
        font-size: 16px;
        background-color: white;
    }

    .buttons {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        align-items: center;


    }

    .matches {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 10px;
    }

    .view-more {
        visibility: visible;
        display: grid;
        text-decoration: none;
        grid-template-columns: repeat(100px 1fr);
        color: white;
        text-align: center;
        background-color: red;
        padding: 10px 40px;
        margin: 30px 30%;
    }

    /*************
footer 
************/

    footer {
        width: 70%;
        /* height: 500px; */
        padding-top: 30px;

    }

    .footer-section a {
        width: 100%;
        height: 100%;
        font-family: none;
        display: flex;
        margin: 20px 0;

    }

    .social-media a {
        width: 100%;
        height: 100%;
        text-decoration: none;
        display: inline-block;
    }
}